name: code-style-check
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Checks
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - run: pip install --upgrade pip
    - run: pip install pylint==2.17.2
    - run: pylint --fail-under=9.5 qdata
